body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-top: 1px solid #50556F;
  padding-top: 1rem;
}

main {
  margin: 0 .8rem;
}

h1 {
  text-align: center;
  color: white;
  margin: 0;
  text-transform: uppercase;
  padding: 1rem;

}

h2, label, legend {
  color: #50556F;
}

h2 {
  margin-bottom: 0;
}

header {
  background-color: #50556F;
  margin: 0;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: none;
  padding: 0;
  margin-left: 0;
}

input::placeholder {
  text-align: right;
  font-style: italic;
}

footer p {
  text-align: center;
  font-style: italic;
}

footer {
  padding-bottom: 5rem;
}

input, textarea, select {
  border: none;
  border-radius: 5px;
}

input:focus, select:focus, textarea:focus {
  outline: 2px solid #50556F;
}

.intro-message {
  text-align: center;
  border-bottom: 4px solid #50556F;
  padding-bottom: 1rem;
  margin-bottom: .25rem;
}

.intro-message p, footer p {
  color: #aaa;
  padding-top: .8rem;
}

.intro-message p {
  margin-top: 0;
  padding-top: .5rem;
}

fieldset legend {
  padding: 0;
  margin-bottom: 1.2rem;
  font-weight: bold;
  font-size: 1.2rem;
}

input[name="user_zip_code"] {
  width: 41%;
}

.contact-information {
  border-bottom: 2px solid #000;
  padding-bottom: 2rem;
}



.contact-information div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact-information input, .contact-information select {
  padding: .8rem 1rem;
  background-color: #efefef;
}

.newsletter p {
  margin: 0;
}

textarea {
  background-color: #efefef;
  padding: 0.5rem;
}

button[type="submit"] {
  padding: 1rem;
  color: white;
  border-radius: 5px;
  background-color: #30a5b3;
  border: none;
  font-size: 1.2rem;
  font-weight: 500;
}


@media (min-width: 768px) {
  main {
    width: 60%;
    margin: 0 auto;
  }

  .contact-information div {
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }

  .contact-information div input, .contact-information div select {
    flex: 1;
  }

  .contact-information div label {
    flex-basis: 200px;
  }

  input[name="user_zip_code"] {
    max-width: 25%;
  }
}

@media (min-width: 990px) {
  main {
    width: 45%;
  }
}
